.navbar {
    display: flex;
    justify-content: space-between;
}
.post {
    margin-top: 24px;
}
.juguetes {
    margin-bottom: 24px;
}
.links {
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.estructura {
    display: flex;
}
.images {
    width: 60%;
}
.imageOne {
    width: 100%;
}
.imageOne img {
    width: 100%;
    height: 450px;
    object-fit:cover;
}
.segundasimagenes {
    display: flex;
    width: 100%;
}
.imagetwo {
    width: 50%;
}
.imagetwo img {
    width: 100%;
}
.Imagetree {
    width: 50%;
}
.Imagetree img {
    width: 100%;
}
#button {
    width: 30%;
    background-color: gray;
    color: white;
    margin-top: 18px;
    font-size: large;

}
.description {
    width: 40%;
    padding: 18px;;
}
.nombre-precio {
    font-size:xx-large;
    border-bottom: 1px solid black;
}
.descriptiontexto {
    margin-top: 18px;
}
